body {
  font-family: Arial
  margin: 5px 10px 10px;
  width: 300px;
  height: 150px;
}

body {
  font-family: Verdana;
}

#popupWindow {
  background-color: lightgrey;
  width: 350px;
  height: 400px;
  margin: 15px;
  padding: 8px;
  text-align: center;
  justify-content: center;
}

#fontName {
  font-size: 15px;
}

#fontfamily #fontsize #fontweight {
  color: #757575;
  font-size: 14px;
}

.button {
  width: 150px;
  color: black;
  background-color: grey;
  border: black;
  border-style: outset
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}

p .fontpicker {
  text-align: center;
  font-size: 14px;
}
